<div class="container-fluid">
  <div class="row vh-100 justify-content-center align-content-center">
    <div class="col-11 col-md-6">
      <div class="row my-3">
        <div class="col-12">
          <table class="table table-bordered table-sm text-center">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Código Padre</th>
                <th scope="col">Descripción Padre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let departamento of departamentos">
                <td>{{departamento.codigo}}</td>
                <td>{{departamento.nombre}}</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <table class="table table-bordered table-sm text-center">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Código Padre</th>
                <th scope="col">Descripción Padre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let provincia of provincias">
                <td>{{provincia.codigo}}</td>
                <td>{{provincia.nombre}}</td>
                <td>{{provincia.departamento.codigo}}</td>
                <td>{{provincia.departamento.nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <table class="table table-bordered table-sm text-center">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Código Padre</th>
                <th scope="col">Descripción Padre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let districtos of districtos">
                <td>{{districtos.codigo}}</td>
                <td>{{districtos.nombre}}</td>
                <td>{{districtos.provincia.codigo}}</td>
                <td>{{districtos.provincia.nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

